body {
    font-family: sans-serif;
}

span, a {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

p.types > span, p.example > span {
    border: 2px #dddddd solid;
}

.highlight {
    border: 2px #1d7212 solid !important;
}

p.example > a {
    border: 2px white solid;
}
